*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    font-family: "Poppins", Montserrat-Regular;

/* Nav bar starts here */

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke; /*change color here*/
    color: white;
}
.brand-title
{
    /* width:100px;
    height:60px;
    width: 80px;
    margin-left: 10px;
    margin-top:3px;
    opacity:0.25; */

   max-height: 100%;
   max-width: 100%;
   width: 100px;
   height: 100px;
   /*border: 1px solid;*/
   background: url('./images/Brandee_1_transparent.png') no-repeat scroll center center transparent;
   background-size: cover;
   float: left;
   }

.navbar-links ul{
    margin:0;
    padding:0;
    display:flex;
    font-size:1rem;
}

.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    text-decoration: none;
    color: #ff6700;
    padding:1rem;
    display: block; 
}
.navbar-links li:hover{
    background-color:navy;
}

.toggle-button{
    position: absolute;
    top:.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color:whitesmoke;
    border-radius: 10px;
}


@media (max-width: 500px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
}

/* Nav bar ends here */


/* first main course starts here */

#firstcourses{
    padding: 100px 0;
}
.firstcourses h1{ 
   font-size:45px;
}
.firstcourses h4{ 
    font-size:30px;
 }
 .firstcourses p{ 
    font-size:18px;
    font-weight: 700;
 }
.firstcourse-row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #04005e;
    color:whitesmoke;
}
.firstcourse-right-col{
   
   flex-basis: 50%;
   width: 600px;
   height:700px ;  
   background: url('./images/EB.png') no-repeat scroll center center transparent;
   background-size: cover;
   float: right;
   
}


.firstcourse-left-col{
    flex-basis: 50%;
    text-align: center;
    margin-bottom:70px;
  
}
.firstcourse-text{
    max-width: 800px;
    margin-left: 10px;
    display: inline-block;
}
.firstcourse-text h1{
    color:#ff6700; /* change oclor here */
}
.firstcourse-text p{
    margin-top: 15px;
    line-height: 2rem;
}

.btn{
    position: relative;
    top:10px;
    padding:70px 70px;
    outline: none;
    background: transparent;
    border-radius: 30px;
    font-weight: bolder;
    transition: 0.1s;
    border: 1px solid yellowgreen;
    color: #ff6700;
    font-size:large;
    text-transform: uppercase;
}
.btn:hover{
    background:#e91e63;
    color:#fff;
    border-color:#e91e63;
    box-shadow: inset 0 0 5px yellowgreen,
                inset 0 0 10px yellowgreen,
                      0 0 15px yellowgreen,
                      0 0 20px yellowgreen,
}
.firstcourse-row .btn{
    padding-top:10px;
    padding-bottom:10px;
}

@media screen and (max-width: 950px)
{
    .firstcourse-left-col{
        flex-wrap: nowrap;
        align-items: center;
        display: inline;
        flex-basis: 100%;
    }
    .firstcourse-right-col{
        display: inline;
        align-items: left;
        flex-wrap: nowrap;
        background-color: #04005e;
        flex-basis: 100%;
        max-height: 100%;
        max-width: 100%;
        width: 100px;
        height: 500px;
    }
}


/* last main course ends here */

/* about application starts here*/

#about{
    padding: 100px 0;
}
.about-row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ff6700;
    color:whitesmoke;
}
.about-text h1{
    font-size: 45px;
}
.about-text h4{
    font-size: 30px;
}
.about-text p{
    font-size: 18px;
    font-weight: 700;
}
.about-left-col{
   flex-basis: 50%;
   width: 700px;
   height:800px ;  
   background: url('./images/2.png') no-repeat scroll center center transparent;
   background-size: cover;
   float: right;
   
}

.about-right-col{
    flex-basis: 50%;
    text-align: center;
}.about-text{
    max-width: 800px;
    margin-left: 10px;
    display: inline-block;
}
.about-text p{
    margin-top: 30px;
    line-height: 2rem;
}
.about-text h4{
    margin-top: 30px;
}
@media screen and (max-width: 950px)
{
    
    .about-left-col{
        display: inline-block;
        align-items: left;
        flex-wrap: nowrap;
        background-color: #efb261;
        flex-basis: 100%;
        width: 1800px;
        height:680px ;
    }
    .about-right-col{
        flex-wrap: nowrap;
        align-items: center;
        display: inline-block;
        flex-basis: 100%;
    }
}

/* about application ends here*/


/* courses starts here */

#courses{
    padding: 100px 0;
}
.course-row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #04005e;
    color:whitesmoke;
}
.course-text h1{
    font-size: 45px;
}
.course-text h4{
    font-size: 30px;
}
.course-text p{
    font-size: 18px;
    font-weight: 700;
}
.course-right-col{
   flex-basis: 50%;
   width: 700px;
   height:800px ;  
   background: url('./images/3.png') no-repeat scroll center center transparent;
   background-size: cover;
   float: right;
 }

.course-left-col{
    flex-basis: 50%;
    text-align: center;
}.course-text{
    max-width: 800px;
    margin-left: 10px;
    display: inline-block;
}
.course-text p{
    margin-top: 30px;
    line-height: 2rem;
}
.course-text h4{
    margin-top: 30px;
}

@media screen and (max-width: 950px)
{
    .course-left-col{
        flex-wrap: nowrap;
        align-items: center;
        display: inline;
        flex-basis: 100%;
    }
    .course-right-col{
        display: inline;
        align-items: left;
        flex-wrap: nowrap;
        background-color: navy;
        flex-basis: 100%;
        width: 1800px;
        height:680px ;
    }
}


/* courses ends here */


/* features start here */

#features{
    padding-top:50px;
    padding-bottom:50px;
    background-color: rgb(253, 254, 255);
}
#features h1{
    font-size: 45px;
    text-align: center;
    padding-bottom: 30px;
    color:#242A56;
}
.feature-row h4{
    font-size:30px;
}
.feature-row p{
    font-size:18px;
    font-weight: 700;
}
.feature-row{
    width:80%;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content: space-around;
    flex-wrap:wrap;
}
.feature-col{
    flex-basis: 50%;
    text-align:center;
}
.feature-col img{
    width: 100px;
}
.feature-col h4{
    font-size:30px;
    margin-bottom: 15px;
    font-size:20px;
    font-weight: 700;
    color:#242A56;
}
.feature-col P{
    display:block;
    padding-right:10px;
    font-size:18px;
    font-weight: 700;
    color:rgb(4, 73, 100);
    line-height: 1.2rem;
}

/* features ends here */


/* another about application starts here */
#back{
    padding:100px 0px; 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color:silver;
    
}
.back-about-text h1{
    font-size: 45px;
}
.back-about-text h4{
    font-size:30px;
}
.back-about-text p{
    font-size: 18px;
    font-weight:700;
}
.back-about-left-col{
    flex-basis: 50%;
    

}
.back-about-left-col img{
    width:100%;

}
.back-about-right-col{
    flex-basis:50%;
    text-align:center;
}
.back-about-text{
    max-width: 800px;
    margin-right: 10px;
    margin-left: 30px;
    display: inline-block;
  
}
.back-about-text p{
    line-height: 2rem; 
}


/* another about application ends here */


/*clients starts here*/

.clients{
    display: flex;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 10px;
    font-size: 20px;
    background-color:navy;
}
.clients div{
    padding:20px;
    margin:auto;
    overflow: hidden;
    max-width: 1200px;
    line-height: 2em;
}
.clients h1{
    margin-top: 10px;
    color:yellow;
}
.clients img{
    width: 350px;
    padding:0 30px;
}
.clients p{
    margin-top: 10px;
    font-size:20px;
    color: whitesmoke;
}
@media screen and (max-width: 950px){
    .clients div{
        padding:20px;
        margin-left:10px;
        overflow: hidden;
        max-width: 1200px;
        line-height: 2em;
    }
}
/*clients ends here*/


/* Profile card starts here

/*--cardflip starts here--*/

.card-flip{
    text-align: center;
    color:black;
    padding-top: 10px;
    padding-bottom: 25px;
    font-size:45px;
    text-transform: uppercase;
}

.flip{
    perspective: 600px;
    padding-bottom: 70px;
    user-select: none;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 80vh;
    flex-wrap:wrap;
    vertical-align: baseline;
    background-color:whitesmoke;
     
}
.content{
    position: relative;
    width: 375px;
    height: 330px;
    padding: 10px;
    transition: .5s;
    transform-style: preserve-3d;
    margin:20px; 
}

.content:hover{
    transform:rotateY(-180deg);
}
.content .front, .back{
    position:absolute;
    width: 100%;
    height: 100%;/*--front & backcard will have some space--*/
    border-radius: 14px;
}
.content .front{
    background:url("./images/profile12.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}/*--image will visible in the card*/

.content:nth-child(2) .front{
    background:url("./images/profile2.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}
.content:nth-child(3) .front{
    background:url("./images/profile3.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}
.content:nth-child(4) .front{
    background:url("./images/profile4.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}

.content .front h1{
    position: relative;
    margin-top:76.5%;
    padding-top:10px;
    width:100%;
    text-align: center;
    text-transform: uppercase;
    padding-right: 20px;
    letter-spacing: 5px;
    background:#ff6700;
    color: navy;
    font-size:30px;
  
}/*--h2 tag comes bottom of the front card*/

.content .back{
    background: grey;
    text-align: center;
    transform:rotateY(180deg);
    transform-style: preserve-3d;
}
.content .back::before{
    content: "";
    position:absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background: #ff6700;
    opacity: 0.5;
 
}
.content .back h2{
    position: relative;
    top: 1.5em;
    font-size: 20px;
    font-weight: normal;
}
.content .back p{
    position: relative;
    top:1em;
    font-size:18px;
    padding: 10px;
    text-align: center;
    line-height: 1.5em;
}/*backside card alignment done*/

.content .back button{
    position: relative;
    top:20px;
    padding:8px 20px;
    outline: none;
    background: transparent;
    border-radius: 30px;
    font-weight: bolder;
    transition: 0.1s;
    border: 1px solid #e91e63;
    color: whitesmoke;
}
.content .back button:hover{
    background:#e91e63;
    color:#fff;
    border-color:#e91e63;
    box-shadow: inset 0 0 5px #e91e63,
                inset 0 0 10px #e91e63,
                      0 0 15px #e91e63,
                      0 0 20px #e91e63,
}
@media screen and (max-width: 900px){
    .flip{
        flex-direction:column;
    }
    .content{
        width:80.5%;
        margin: 40px 20px;
    }
     .font{
        margin: 30px 20px;
        width: 80%;
    }
    .font h1{
        font-size: 30px;
    }
    .content .front h1{
        position: relative;
        margin-top:88.5%;
        padding-top:15px;
        letter-spacing: 2px;
  
      
    }
    .content .back button{
        position: relative;
        top:10px;
        padding:5px 30px;
    }

}
/*--cardflip ends here--*/


/* Profile card ends here */


/*get in touch starts here*/

.new-section{
    min-height: 100vh;
    background:#ff6700; 
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
}
.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;/*everything will align in center*/
}
.contact-info{
    color:#fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size:18px;
}
.contact-info i{
    margin-left: 20px;
    font-size:25px;
}
.contract-form{
    max-width: 700px;
    margin-right: 50px;

}
.contact-info, .contract-form{
    flex:1;
}

.contact-form h2{
    color:#fff;
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px
}
.contact-form .text-box{
    background: #000;
    color:#fff;
    border:none;
    width: calc(50% -10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .text-box:first-child{
    margin-right: 15px;
}

.contact-form textarea{
    background:#000;
    color:#fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn{
    float: right;
    background:blue;
    color:#fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size:15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  
}

.contact-form .send-btn:hover{
    background:navy;
}

@media screen and (max-width: 950px){
    .contact-section{
        flex-direction:column;
    }
    .contact-info, .contact-form{
        margin: 30px 50px;
    }
    .contact-form h2{
        font-size: 30px;
    }
    .contact-form .text-box{
        width: 100%;
    }
}

/*get in touch ends here*/



/*  footer starts here */

footer{
    display:grid;
    justify-content: end;
    align-items: end;
 
}

.footercontainer{
    position: relative;
    width: 100%;
    height: 350px;
    padding: 50px 100px;
    background:navy;
}
footer .footercontainer{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

footer .footercontainer .sec h2{
    position:relative;
    color:#fff;
    font-weight: 500;
    margin-bottom: 15px;
    
}
footer .footercontainer .sec h2::before{

    content:'';
    position:absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height:2px;
    background: #ffeb3b;
}
footer .footercontainer .sec p
{
    color:#fff;
}
.sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap:10px;
}
.sci li{
    list-style:none;
}
.sci li a{
    display:inline-block;
    width: 48px;
    height: 48px;
    background: #3e56cb;
    display:grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}
.sci li a:hover{
    background: #6380fe;
}
.sci li a .fa{
    color: #fff;
    font-size: 20px;
}
.quicklinks{
    position: relative;
}
.quicklinks li{
    list-style:none;
}
.quicklinks li a{
    color: #f7f7f7;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quicklinks li a:hover{
  color: #ffeb3b;   
}
.info{
    position: relative;
}
.info li{
    display:grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
.info li span:nth-child(1){
    color:#fff;
    font-size: 20px;
}
.info li span{
    color: #fff;
}
.info a{
    color: #f7f7f7;
    text-decoration: none;
}
.info a:hover{
    color: #ffeb3b;
}
.copyrightText{
    width: 100%;
    background: #1f3389;
    padding: 8px 100px;
    text-align:center;
    color:#fff;
}

@media (max-width: 1000px)
{
    footer{
        padding: -100%;
        min-height: -100vh;
    }
    footer .footercontainer{
     
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:700px)
{
    footer .footercontainer{
        position: relative;
        height: 100%;
        padding-left: 20px;
        grid-template-columns: repeat(1,1fr);
    }
    .copyrightText{
        width:100%;
        background:#1f3389;
        padding: 8px 40px;
        text-align: center;
        color:#fff;
    }
}





